# projects.config
projects:
  - name: "kube-nvs"
    repo: "https://gitlab.bingosoft.net/bingokube/cluster-images/kube-nvs"
    branch: "release-v1.6.0-gkd"
    path: "./kube-nvs"
  - name: "kubeverse"
    repo: "https://gitlab.bingosoft.net/bingokube/cluster-images/kubeverse"
    branch: "release-v1.6.0-gkd"
    path: "./kubeverse"
  - name: "resource-manager"
    repo: "https://gitlab.bingosoft.net/ccpc-project/706/cluster-images/resource-manager"
    branch: "develop"
    path: "./resource-manager"


