# projects.config
projects:
  - name: "bingokube-scheduler"
    repo: "https://gitlab.bingosoft.net/bingokube/bingokube-scheduler"
    branch: "v1.22.25-tenant"
    path: "./bingokube-scheduler"
  - name: "kubealived"
    repo: "https://gitlab.bingosoft.net/bingokube/kubealived"
    branch: "v1.0.3"
    path: "./kubealived"
  - name: "kubedupont"
    repo: "https://gitlab.bingosoft.net/bingokube/kubedupont"
    branch: "release-v1.2.0-gkd-code-compile"
    path: "./kubedupont"
  - name: "kubernetes"
    repo: "https://gitlab.bingosoft.net/bingokube/kubernetes"
    branch: "v1.22.25-tenant"
    path: "./kubernetes"
  - name: "kube-verse"
    repo: "https://gitlab.bingosoft.net/bingokube/front/kube-verse"
    branch: "release-v1.6.0-gkd"
    path: "./kube-verse"
  - name: "kubeverse"
    repo: "https://gitlab.bingosoft.net/bingokube/kubeverse"
    branch: "release-v1.6.0-gkd"
    path: "./kubeverse"
  - name: "uam-dex"
    repo: "https://gitlab.bingosoft.net/ccpc/components/uam/uam-dex"
    branch: "v1.3.0-kube-gkd"
    path: "./uam/uam-dex"
  - name: "uam-webapi"
    repo: "https://gitlab.bingosoft.net/ccpc/components/uam/uam-webapi"
    branch: "v1.3.0-kube"
    path: "./uam/uam-webapi"
  - name: "setup-assistant"
    repo: "https://gitlab.bingosoft.net/ccpc-project/706/setup-assistant"
    branch: "develop"
    path: "./ccpc-project/setup-assistant"
  - name: "dep-tool"
    repo: "https://gitlab.bingosoft.net/ccpc-project/706/dep-tool"
    branch: "develop"
    path: "./ccpc-project/dep-tool"
  - name: "resource-manager"
    repo: "https://gitlab.bingosoft.net/ccpc-project/706/resource-manager"
    branch: "develop"
    path: "./ccpc-project/resource-manager"
  - name: "resource-node"
    repo: "https://gitlab.bingosoft.net/ccpc-project/706/resource-node"
    branch: "develop"
    path: "./ccpc-project/resource-node"
  - name: "resource-exporter"
    repo: "https://gitlab.bingosoft.net/ccpc-project/706/resource-exporter"
    branch: "develop"
    path: "./ccpc-project/resource-exporter"
  - name: "kubepilot"
    repo: "https://gitlab.bingosoft.net/bingokube/kubepilot"
    branch: "develop-gkd"
    path: "./kubepilot"




